<div>
  <h1>Table Resize</h1>
</div>

<div class="container">
  <table>
    <thead>
      <tr #main>
        <th #el1 style="width: 35%">
          <span>Year</span>
          
          <img (click)="sortbyyear(el1)" [ngClass]="el1.issort ? 'down' : 'up'"  src="https://img.icons8.com/windows/32/000000/sort.png">
          
          <button class="line" (mousedown)="onResizeStart($event, 1)" (window:mouseup)="onResizeEnd($event)"></button>
        </th>
        <th #el2>
          <span>Model</span>
          <img (click)="sortbymodel(el2)" [ngClass]="el2.issort ? 'down' : 'up'" src="https://img.icons8.com/windows/32/000000/sort.png">
          <button class="line" (mousedown)="onResizeStart($event, 2)" (window:mouseup)="onResizeEnd($event)"></button>
        </th>
        <th #el3 >
          <span>Color</span>
          <img (click)="sortbycolor(el3)" [ngClass]="el3.issort ? 'down' : 'up'" src="https://img.icons8.com/windows/32/000000/sort.png">
        </th>
        
      </tr>
    </thead>
    <tbody>
      <div class="column" #column>hey</div>
      <tr *ngFor="let i of newstate">
        <td (click)="onSelect(i)" [ngClass]="i.isselect ? 'click' : 'none'">
            <span>{{ i.year }}</span>
        </td>
        <td (click)="onSelect(i)" [ngClass]="i.isselect ? 'click' : 'none'">
            <span>{{ i.model }}</span>
        </td>
        <td (click)="onSelect(i)" [ngClass]="i.isselect ? 'click' : 'none'">
            <span>{{ i.color }}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="onAdd()">Add</button>
</div>