<div>
  <h1>Table Resize</h1>
</div>

<div>
  <table>
    <thead>
      <tr>
        <th style="width: 20px;">
          <span>Id</span>
          <div class="line" (mousedown)="onResizeStart($event)" (window:mouseup)="onResizeEnd($event)">c</div>
        </th>
        <th>
          <span>Year</span>
          <div class="line" (mousedown)="onResizeStart($event)" (window:mouseup)="onResizeEnd($event)">c</div>
        </th>
        
        <th>
          <span>Brand</span>
          <div class="line" (mousedown)="onResizeStart($event)" (window:mouseup)="onResizeEnd($event)">c</div>
        </th>
        <th>
          <span>Color</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
            <span>Color</span>
        </td>
        <td>
            <span>Color</span>
        </td>
        <td>
            <span>Color</span>
        </td>
        <td>
            <span>Color</span>
        </td>
      </tr>
      <tr>
          <td>
              <span>Color</span>
          </td>
          <td>
              <span>Color</span>
          </td>
          <td>
              <span>Color</span>
          </td>
          <td>
              <span>Color</span>
          </td>
        </tr>
        <tr>
            <td>
                <span>Color</span>
            </td>
            <td>
                <span>Color</span>
            </td>
            <td>
                <span>Color</span>
            </td>
            <td>
                <span>Color</span>
            </td>
          </tr>
          <tr>
              <td>
                  <span>Color</span>
              </td>
              <td>
                  <span>Color</span>
              </td>
              <td>
                  <span>Color</span>
              </td>
              <td>
                  <span>Color</span>
              </td>
            </tr>
    </tbody>
  </table>
</div>